<div class="borda">
    <div class="borda1">
        <div class="caixa-um"> 
            <div class="classe">Professor e Auxiliar</div>
            <div class="linha"></div>
        </div>
        <div class="caixa-dois"> 
            <div class="num-nome">
                <div class="classe2">Numero</div>
                <app-numero-tela [numero]="numeroDigitado1"  ></app-numero-tela>
                <app-numero-tela [numero]="numeroDigitado2"  ></app-numero-tela>
                <app-numero-tela [numero]="numeroDigitado3"  ></app-numero-tela>

            </div>
            <div class="classe3">Nome</div>
            <div class="foto"></div>
        </div>
        <div class="caixa-tres"></div>
    </div>  
    
    <div class="borda2">
        <div class="caixa-numero">
            <app-botoes (numeroClicado)="CapturarNumeroClicado($event)"> </app-botoes>
        </div>
        <div class="voto">
            <div class="caixa-voto">Branco</div>
            <div class="caixa-voto">Corrige</div>
            <div class="caixa-voto">Confirma</div>
        </div>
    </div>
</div>
