<div class="borda">
    
    <div class="borda1">
        <div class="caixa-um"> 
            <div class="classe">Professor e Auxiliar</div>
            <div class="linha">
                
            </div>

        </div>
        <div class="caixa-dois"> 
            <div class="num-nome">
            </div>
            <div class="foto">
            </div>
        </div>
        <div class="caixa-tres"></div>
    </div> 
    
    <div class="borda2">
        <div class="caixa-numero">

        </div>

        <div class="voto"></div>
    </div>





</div>